{% load i18n %}

<script type="text/javascript">

function uninvite(delay) {
  user = $(this).closest("li.user");
  $(this).fadeOut(delay);

  user.fadeOut(delay, function() {
    $("#lang_speakers ul").prepend(user);
    user.fadeIn(delay);
    $("#invite").show(delay);
    if ($("#invitation_list ul li").length == 0) {
      $("#mass_invite").hide();
      $("#invitation_list #empty").show();
    }
  });

  return false;
}

function invite(delay) {
  list = $("#invitation_list ul");
  user = $("a.user.active").parent();
  remove_button = user.children().last();
  $(this).fadeOut(delay);

  user.fadeOut(delay, function() {
    if (list.children().length == 0) {
      $("#invitation_list #empty").hide();
      $("#mass_invite").fadeIn(delay);
    }
    list.append(user);
    user.fadeIn(delay);
    remove_button.show();
    $(this).hide();
  });

  remove_button.unbind('click').bind('click', function() {
    uninvite.apply(this, {delay: 500});
  });

  return false;
}

jQuery(document).ready(function() {
  $('a#invite').live('click', function() { 
    invite.apply(this, {delay: 500});
  });
});

</script>


<div id="invitation_list">
  <h3 class="header">{% trans "Invite List:" %}</h3>
  <div id="empty">The invitation list is currently empty</div>
  <ul class="list collapsed"></ul>
  <a href="" style="display:none;" id="mass_invite">Invite</a>
</div>
