{% load i18n %}

{% if team_access_requests %}

<div id="pending_list">

  <h3 class="header">{% blocktrans count cnt=team_access_requests|length %}The following user wants to join{% plural %}The following users want to join{% endblocktrans %}</h3>

  <ul class="list collapsed">
    {% for access_request in team_access_requests|dictsort:"user.username"%}  
      {% with u=access_request.user %}
      <li id="request_{{ access_request.user.id }}">
        <a href="{% url team_members_edit project.slug language.code %}?username={{u.username}}" class="user">
        {{ u.username }}
        {% if u.first_name or u.last_name %}
          <span class="fullname">({{ u.first_name }} {{ u.last_name }})</span>
        </a>
        {% endif %}
        {% if is_coordinator %}
          <form class="microform" method="post" action="{% url team_join_approve project.slug language.code u.username %}">{% csrf_token %}
            <input name="team_join_approve" class="i16 submit buttonized blist" type="submit" value="{% trans "Accept" %}"/>
          </form>

          <form class="microform" method="post" action="{% url team_join_deny project.slug language.code u.username %}">{% csrf_token %}
            <input name="team_join_deny" class="i16 delete buttonized blist" type="submit" value="{% trans "Reject" %}"/>
          </form>
        {% endif %}
      </li>
      {% endwith %}
    {% endfor %}
  </ul>

</div>

{% endif %}
