{% load i18n %}

{% if can_coordinate %}
  {% for member in members %}
    <li id="{{ member.id }}" class="user {{ membership }}">
      <a href="{% url team_members_edit project.slug language.code %}?username={{member.username}}" class="user {% if selected_user.username == member.username %}active{% endif %}">
        {{ member.username }}
        {% if member.first_name or member.last_name %}
          (<span class="fullname">{{ member.get_full_name }}</span>)
        {% endif %}
      </a>
    </li>
  {% endfor %}
{% else %}
  {% for member in members %}
    <li id="{{ member.id }}" class="user">
      <a href="{% url team_members project.slug language.code %}?username={{member.username}}" class="user {% if selected_user.username == member.username %}active{% endif %}">
        {{ member.username }}
        {% if member.first_name or member.last_name %}
          (<span class="fullname">{{ member.get_full_name }}</span>)
        {% endif %}
      </a>
    </li>
  {% endfor %}
{% endif %}
