{% load i18n %}

<script type="text/javascript">
  jQuery(document).ready(function() {
    /* handles the 'drawer' effect */
    $('a.user').pjax('#user_profile', {
      timeout: null,
      error: function(xhr, err) {}
    });

    $('a.user').live('click', function() {
      activate_user($(this));
    });

    filter_links = jQuery('#filters a');
    active_filter = '{{ filter }}';

    if (active_filter == 'None') {
      jQuery("#filters a[data-filter='']").addClass('active');
    } else {
      jQuery.each(filter_links, function() {
        if ($(this).attr('data-filter') == active_filter) {
          $(this).addClass('active');
        }
      });
    }
  });
</script>

<div id="members_list">

  <div class="header-drawer ui-corner-top clearfix">
    <h3>{% trans "Team members:" %}</h3>
    <ul id="filters" class="drawer-filters nomargin">
      <li><a href='{{ current_url_clean }}?filter=' data-filter=''>All</a></li>
      <li><a href='{{ current_url_clean }}?filter=coordinators' data-filter='coordinators'>Coordinators</a></li>
      <li><a href='{{ current_url_clean }}?filter=reviewers' data-filter='reviewers'>Reviewers</a></li>
    </ul>
  </div>

  {% if members %}
    <ul class="list drawer">
      {% if is_coordinator or is_maintainer %}
        {% for member in members %}
          <li id="{{ member.id }}" class="user">
            <a href="{% url team_members_edit project.slug language.code %}?username={{member.username}}" class="user {% if selected_user.username == member.username %}active{% endif %}">
              {{ member.username }}
              {% if member.first_name or member.last_name %}
                (<span class="fullname">{{ member.get_full_name }}</span>)
              {% endif %}
            </a>
          </li>
        {% endfor %}
      {% else %}
        {% for member in members %}
          <li id="{{ member.id }}" class="user">
            <a href="{% url team_members project.slug language.code %}?username={{member.username}}" class="user {% if selected_user.username == member.username %}active{% endif %}">
              {{ member.username }}
              {% if member.first_name or member.last_name %}
                (<span class="fullname">{{ member.get_full_name }}</span>)
              {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  {% else %}
    <p>No {% if filter %}{{ filter }}{% else %}members{% endif %} in this team.</p>
  {% endif %}

</div>

