{% load addons %}
{% load permissions %}
{% load tx_action_log %}
{% load i18n %}

<script type="text/javascript">

jQuery(document).ready(function() {
  $('a[rel*=facebox]').facebox()

  jQuery("a.js-change_member_type").unbind("click").on("click", function() {
    clicked_link = $(this);
    member_type = $(this).attr('data-member-type');
    /* BE CAREFUL: 'translator' acts as a placeholder for the actual member
     * type. See urls.py (hint: regexp 'or') */
    url = "{% url change_member_type project.slug language.code selected_user 'translator' %}";
    url = url.replace('translator', member_type);

    jQuery.post(url, function(data) {
        data = JSON.parse(data);
        if (data['success']) {
            jQuery("a.js-change_member_type").removeClass('active');
            clicked_link.addClass('active');
        }
    });
    return false;
  });
});

</script>

{% get_permission "project_perm.coordinate_team" for request.user and project,language as "is_coordinator" %}
{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

{% if selected_user %}
  {% include "teams/_user_profile_id.html" with user=selected_user %}

  <div id="actions" class="clearfix">
    {% if action == 'edit' %}

          <div id="action">
          {% if is_coordinator or is_maintainer %}
            <ul class="modify-rank">
              <li><a href='' data-member-type='translator' class="js-change_member_type">Translator</a></li>
              <li><a href='' data-member-type='reviewer' class="js-change_member_type">Reviewer</a></li>
              {% if is_maintainer  %}
                <li><a href='' data-member-type='coordinator' class="js-change_member_type">Coordinator</a></li>
              {% endif %}
            </ul>
            
            {% if request.user != selected_user %}
                <a href="{% url team_members_remove project.slug language.code selected_user.username %}" class="buttonized fixedw" style="width:100px;">Remove</a>
            {% endif %}

          {% endif %}
          {% if request.user == selected_user %}
             <form style="float:right;diplay:inline" method="post" action="{% url team_leave team.project.slug team.language.code %}">{% csrf_token %}
                 <input name="team_leave" class="leave_team" type="submit" value="{% trans 'Leave' %}" title="Leave team"/>
             </form>
          {% endif %}
          </div>

    {% endif %}

    {% if action == 'invite' %}
      <div id="action">
        {% if is_coordinator or is_maintainer %}
          {% hook "add_to_invitation_list.html" %}
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div id="recommendations">
    <div class="separate-header clearfix">
      <h3 class="sh-label">{% trans "Recommendations" %}</h3>
      <div class="separate-buttons">{% hook "recommend_button.html" %}</div>
    </div>

    {% hook "recommendation_list.html" %}
  </div>


  <div id="recent_activity">
    <div class="separate-header clearfix">
      <h3 class="sh-label">{% trans "Recent team activity" %}</h3>
    </div>
    {% get_public_log 3 as action_log for_user selected_user %}
    {% if not action_log %}
      <p class="i16 infomsg">{% trans 'No public actions yet' %}</p>
    {% else %}
      <ul class="actionlist nomargin">
        {% for entry in action_log %}
          <li class="i16 {{entry.action_type}}">
            <p>{{ entry.message|safe }}</p>
            <span class="timestamp">{{ entry.action_time|timesince }} ago</span>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>


{% endif %}
