<div id="user_header">

  <img width="48" height="48" alt="{{ user.username }}" src="{{ user.profile.get_mugshot_url }}"/>

  <div id="user-info">

    <a href="{% url profile_public user.username %}" class="clearfix">
      <div id="username">{{ user.username }}</div>
      <span class="fullname">
      {% if user.first_name or user.last_name %}
        ({{ user.get_full_name }})
      {% endif %}
      </span>
    </a>

    <div id="user-details" class="clearfix" >
      <div id="location">
        {% with location=user.profile.location %}
          {% if location %}
            From: {{ location }} </span>
          {% endif %}
        {% endwith %}
      </div>

      <div id="speaks">
        {% with langs=user.profile.languages.all %}
          {% if langs %}
            Speaks:
            {% for lang in langs %}
              <span class="lang">{{ lang.name }} </span>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

  </div>

</div>
