{% extends "teams/team_menu.html" %}
{% load i18n %}
{% load cache %}
{% load pagination_tags %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}
{% load addons %}
{% load statistics_resources %}

{% block extracss %}
{{ block.super }}
<style>
  li.join_accepted {background-color:#A7DC71}
  li.join_rejected {background-color:#E04631}
</style>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    /*
     * Used to slide down or up a list of members.
     *
     * header: the jquery .previous() div of the list to be slided.
     */
    function list_toggle(header) {
      list = header.next();
      if (list.hasClass("collapsed")) {
        list.slideUp();
        list.removeClass("collapsed");
      } else {
        list.slideDown();
        list.addClass("collapsed");
      }
    }

    /*
     * This one will be called after the approval or rejection of a join request.
     */
    function _request_reponse_handler(data) {
      data = JSON.parse(data);
      if (!data['success']) {
        return;
      }

      li = jQuery("#request_" + data['user_id']);
      if (data['accepted']) {
        li.addClass("join_accepted");
      } else {
        li.addClass("join_rejected");
      }
      li.fadeOut(1000);

      setTimeout(function() {
        li.remove();
        if (jQuery("#pending_list li").length == 0) {
          jQuery("#pending_list").hide();
          jQuery("#pending_list_header").hide();
        }
      }, 1000);
    }

    jQuery(document).ready(function() {
      /* handles the 'drawer' effect */
      $('a.user').pjax('#user_profile', {
        timeout: null,
        error: function(xhr, err) {}
      });

      /* handles join team request actions */
      jQuery("form.microform").submit(function() {
        url = $(this).attr("action");
        data = $(this).serialize();
        list = jQuery("#pending_list_header").next();
        jQuery.post(url, data, _request_reponse_handler);
        return false;
      });

      /* handles pending list slider */
      jQuery("#pending_list_header").click(function() {
        list_toggle($(this));
      });
    });
  </script>

{% endblock %}

{% block title %}{{ block.super }} | {{ project.name }}{% endblock %}

{% block project_header %}
{{block.super}}<span>&nbsp;/&nbsp;</span>
<span>{% blocktrans %}Members{% endblocktrans %}</span>
{% endblock%}

{% block content_main %}
{% get_permission "project_perm.submit_translations" for request.user and team as "can_submit_translations" %}
{% get_permission "project_perm.coordinate_team" for request.user and project,language as "is_coordinator" %}
{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

<div class="obj_bigdetails">

{% if perms.projects.change_team or is_coordinator %}
<div class="clearfix">
  <a class="i16 settings nude-button right" href="{% url team_update project.slug language.code %}">{% trans "Manage members" %}</a>
</div>
{% endif %}

  <div id="drawerbox">
    <div id="lefty">

      {% if is_coordinator or is_maintainer %}
        {% if team_access_requests %}
          <div id="pending_list_header">
            The following user{{ team_access_requests|length|pluralize }}
            want{% if team_access_requests|length == 1 %}s{% endif %} to join
          </div>
          <ul id="pending_list" class="collapsed">
            {% for access_request in team_access_requests|dictsort:"user.username"%}
              <li id="request_{{ access_request.user.id }}">
                <a href="{% url team_members project.slug language.code %}?username={{access_request.user.username}}" class="user">
                {{ access_request.user.username }}
                {% if access_request.user.first_name or access_request.user.last_name %}
                  <span class="fullname">
                    ({{ access_request.user.first_name }}
                    {{ access_request.user.last_name }})
                  </span>
                </a>
                {% endif %}
                {% if is_coordinator %}
                  <form class="microform" method="post" action="{% url team_join_approve access_request.team.project.slug access_request.team.language.code access_request.user.username %}">{% csrf_token %}
                    <input name="team_join_approve" class="i16 submit buttonized blist" type="submit" value="{% trans "Accept" %}"/>
                  </form>

                  <form class="microform" method="post" action="{% url team_join_deny access_request.team.project.slug access_request.team.language.code access_request.user.username %}">{% csrf_token %}
                    <input name="team_join_deny" class="i16 delete buttonized blist" type="submit" value="{% trans "Reject" %}"/>
                  </form>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

      {% if all_members %}
        <div id="member_list_header" class="drawer">
          Team members:
        </div>
        <ul class="drawer">
        {% for member in all_members %}
            <li id="{{ member.id }}" class="user">
              <a href="{% url team_members project.slug language.code %}?username={{member.username}}" class="user">
                {{ member.username }}
                {% if member.first_name or member.last_name %}
                  <span class="fullname">
                    ({{ member.first_name }}
                    {{ member.last_name }})
                  </span>
                {% endif %}
              </a>
            </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="righty">
      <div id="user_profile">
        {% include "teams/user_profile_partial.html"%}
      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block content_footer %}
  <div id="content_footer_center"></div>
{% endblock %}
