{% extends "teams/team_menu.html" %}
{% load i18n %}
{% load cache %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}
{% load addons %}
{% load statistics_resources %}

{% block extracss %}
{{ block.super }}
<style>
  li.join_accepted {background-color:#A7DC71}
  li.join_rejected {background-color:#E04631}
  a.user.active {color:black}
</style>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    function activate_user(user) {
      $('a.user').removeClass('active');
      $(user).addClass('active');
    }

    jQuery(document).ready(function() {

      $('a.user').live('click', function(event) {
        event.preventDefault();
        activate_user(this);

        jQuery.get($(this).attr('href'), {user: true}, function(data) {
          $("#js-user-profile").html(data);
        });

        return false;
      });

    });
    $('a[rel*=facebox]').facebox()
  </script>
{% endblock %}

{% block title %}{{ block.super }} | {{ project.name }}{% endblock %}

{% block project_header %}
{{block.super}}<span>&nbsp;/&nbsp;</span>
<span>{% blocktrans %}Members{% endblocktrans %}</span>
{% endblock%}

{% block content_main %}
{% get_permission "project_perm.submit_translations" for request.user and team as "can_submit_translations" %}
{% get_permission "project_perm.coordinate_team" for request.user and project,language as "is_coordinator" %}
{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

<div class="obj_bigdetails clearfix" style="margin-top:1em;">

  {% hook 'edit_or_invite.html' %}

  <div id="drawerbox" class="clearfix">

    <div id="lefty">
      {% if action == 'invite' %}
        {% hook 'invite_members.html' %}
      {% endif %}

      {% if action == 'edit' %}
        {% if is_coordinator or is_maintainer %}
          {% include 'teams/_pending_list.html' %}
        {% endif %}
      {% endif %}

      {% if action == 'show' or action == 'edit' %}
        <div id="members" data-name="team-members">
          <div class="header-drawer ui-corner-top clearfix">
            <h3>{% trans "Team members" %}</h3>
          </div>

          {% if members or reviewers or coordinators %}
            <ul id="members_list" class="list drawer">
              {% with coordinators as members %}
                {% include 'teams/_team_members.html' with membership='coordinator' %}
              {% endwith %}
              {% with reviewers as members %}
                {% include 'teams/_team_members.html' with membership='reviewer' %}
              {% endwith %}
              {% with members as members %}
                {% include 'teams/_team_members.html' with membership='translator' %}
              {% endwith %}
            </ul>
          {% else %}
            <p>No participants in this team.</p>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div id="righty">
      <div id="js-user-profile">
        {% if selected_user %}
            {% include "teams/_user_profile.html" %}
        {% endif %}
      </div>
    </div>

  </div>

  <div>
    <p class="i16 infomsg">{% blocktrans %}Please note that notification will not be sent when coordinators or members are added or removed on this page.{% endblocktrans %}</p>
  </div>

</div>

<div class="delete-section">
{% if team %}
  {% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}
  {% if perms.teams.delete_team or is_maintainer %}
  <div class="separate-header clearfix">
    <h3  class="sh-label">{% trans "Delete language-team" %}</h3>
  </div>

  <p style="margin-bottom:1em;">{% trans "Do you wish to delete the team?" %}</p>
  <p style="margin-top:2em;"><a class="i16 delete buttonized" rel='facebox' href="#js-delete-team-confirm">{% trans "Delete language" %}</a>
  </p>

  <div id="js-delete-team-confirm" style="display:none">
    <div class='facebox-content'>
      <h4>{% blocktrans with team.language.name as lang_name %}Say goodbye to <em>{{ lang_name }}</em> team?{% endblocktrans %}</h4>
      <div class="warning">
        <p>{% blocktrans with team.project.name as project_name and team.language.name as lang_name %}Are you sure you want to permanently delete the '{{ lang_name }}' team which works on {{ project_name }}?{% endblocktrans %}</p>
      </div>
      <form action="{% url team_delete team.project.slug team.language.code %}" method="post">{% csrf_token %}
        <input type="submit" class="i16 submit buttonized" value='{% trans "Yes, I am sure!" %}' />
      </form>
    </div>
  </div>

  {% endif %}
  {% endif %}

</div>

{% endblock %}

{% block content_footer %}
{% endblock %}
