{% extends "teams/team_menu.html" %}
{% load i18n %}
{% load cache %}
{% load pagination_tags %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}
{% load addons %}
{% load statistics_resources %}

{% block extracss %}
{{ block.super }}
<style>
  li.join_accepted {background-color:#A7DC71}
  li.join_rejected {background-color:#E04631}
  a.user.active {color:black}
</style>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    /*
     * Used to slide down or up a list of members.
     *
     * header: the jquery .previous() div of the list to be slided.
     */
    function list_toggle(list) {
      if (list.hasClass("collapsed")) {
        list.slideUp();
        list.removeClass("collapsed");
      } else {
        list.slideDown();
        list.addClass("collapsed");
      }
    }

    function activate_user(user) {
      $('a.user').removeClass('active');
      $(user).addClass('active');
    }

    jQuery(document).ready(function() {
      /* handles pending list slider */
      jQuery("#pending_list :first").click(function() {
        list_toggle($(this).next());
      });

      /* handles invite list slider */
      jQuery("#invitation_list :first").click(function() {
        list_toggle($(this).next());
      });
    });
  </script>

{% endblock %}

{% block title %}{{ block.super }} | {{ project.name }}{% endblock %}

{% block project_header %}
{{block.super}}<span>&nbsp;/&nbsp;</span>
<span>{% blocktrans %}Members{% endblocktrans %}</span>
{% endblock%}

{% block content_main %}
{% get_permission "project_perm.submit_translations" for request.user and team as "can_submit_translations" %}
{% get_permission "project_perm.coordinate_team" for request.user and project,language as "is_coordinator" %}
{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

<div class="obj_bigdetails clearfix" style="margin-top:1em;">

  {% hook 'edit_or_invite.html' %}

  <div id="drawerbox" class="clearfix">

    <div id="lefty">
      {% if action == 'invite' %}
        {% hook 'invite_members.html' %}
      {% endif %}

      {% if action == 'edit' %}
        {% if is_coordinator or is_maintainer %}
          {% include 'teams/_pending_list.html' %}
        {% endif %}
      {% endif %}

      {% if action == 'show' or action == 'edit' %}
          {% autopaginate members 11 %}
          {% include 'teams/_team_members.html' %}
          {% paginate %}
      {% endif %}
    </div>

    <div id="righty">
      <div id="user_profile">
        {% include "teams/_user_profile.html" %}
      </div>
    </div>

  </div>
  
  <div>
    <p class="i16 infomsg">{% blocktrans %}Please note that notification will not be sent when coordinators or members are added or removed on this page.{% endblocktrans %}</p>
  </div>
  
</div>

<div class="delete-section">
{% if team %}
  {% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}
  {% if perms.teams.delete_team or is_maintainer %}
  <div class="separate-header clearfix">
    <h3  class="sh-label">{% trans "Delete language-team" %}</h3>
  </div>
    
  <p style="margin-bottom:1em;">{% trans "Do you wish to delete the team?" %}</p>
  <p style="margin-top:2em;"><a class="i16 delete buttonized" href="{% url team_delete project.slug language.code %}">{% trans "Delete language" %}</a>
  </p>


  {% endif %}
  {% endif %}

</div>

{% endblock %}

{% block content_footer %}
{% endblock %}
