{% load addons %} 
{% load tx_action_log %}
{% load i18n %}

{% block extrajs %}
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox()
    });
  </script>
{% endblock %}

{% if selected_user %}
  <div id="selected_user_name">
    <a href="{% url profile_public selected_user.username %}">
      <img width="40" height="40" alt="{{ selected_user.username }}" src="{{ selected_user.profile.get_mugshot_url }}"/>
      <div>{{ selected_user.username }}</div>
      {% if selected_user.first_name or selected_user.last_name %}
        ({{ selected_user.first_name }} {{ selected_user.last_name }})
      {% endif %}
    </a>
  </div>

  <div id="actions">
    {% hook "recommend_button.html" %}

    {% if is_coordinator or is_maintainer %}
      {% if selected_user in team.members.all %}
        <div id="unmember">
          Unmember
        </div>
      {% endif %}
    {% endif %}
  </div>

  <div id="currently_working_on">
    <h3 class="sh-label">{% trans "Currently working on" %}</h3>
  </div>

  <div id="recent_activity">
    <h3 class="sh-label">{% trans "Recent team activity" %}</h3>

    {% get_public_log 5 as action_log for_user selected_user %}
    {% if not action_log %}
      <p class="i16 infomsg">{% trans 'No public actions yet' %}</p>
    {% else %}
      <ul class="actionlist nomargin">
        {% for entry in action_log %}
          <li class="i16 {{entry.action_type}}">
            <p>{{ entry.message|safe }}</p> 
            <span class="timestamp">{{ entry.action_time|timesince }} ago</span>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div id="recommendations">
    <h3 class="sh-label">{% trans "Recommendations" %}</h3>
    {% hook "recommendation_list.html" %}
  </div>
{% endif %}
